# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.EventMicroservice.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Code\Entre2Ages\EventMicroservice\.idea\.idea.EventMicroservice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
