# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BlazorEntre2Ages.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Code\Entre2Ages\BlazorEntre2Ages\.idea\.idea.BlazorEntre2Ages\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
